// @import "kirby.less";
//@import (inline) "normalize.min.css";
@import "bootstrap/bootstrap.less";
@import "photoswipe.less";
@import "imagetag.less";

@phone-only:    ~"only screen and (max-width: @{screen-xs-max})"; // @screen-xs-max
@tablet:    ~"only screen and (min-width: @{screen-md-min})"; // @screen-sm-min
@tablet-phone-only:    ~"only screen and (max-width: @{screen-sm-max})";
@desktop:    ~"only screen and (min-width: 1025px)";
@ldesktop:    ~"only screen and (min-width: 1250px)";


@BLACK: #292929;
@GRAY: rgba(0,0,0, 0.3);
@OUTPUT: #9BDBCA; //rgba(126, 197, 247, 1);
@INPUT: #E5705E; //rgb(247, 126, 148, .9);

@AFFIX-HEIGHT: 100px;

body{ color: @BLACK; }

a{
	color: inherit;
	cursor: pointer;

	color: @OUTPUT;
	transition:	color .25s ease-in-out;

	&:hover, &:focus{
		color: @BLACK;
		text-decoration: none;
	}
}

//--------------------------------------------------------------------

header.main{
	.container-fluid;
	width: 100%;
	text-transform: lowercase;
	z-index: 3;
	font-size: 5em;

	color: @OUTPUT;
	&[data-color='input']{color: @INPUT;}

	@media @tablet{
		// font-size: 5em;
		text-align: center;
		margin-top: 1em;
		margin-bottom: @AFFIX-HEIGHT;
	}

	a.title{
		color: inherit;
		transition: color .25s ease-out;
		&:hover{color: @BLACK;}
	}

	.description{
		font-weight: normal;
		font-size: 20px;
		color: @GRAY;
		.content{
			display: inline-block;
			padding-bottom: 2em;
			@media @tablet{
				width: 30%;
				padding-bottom: 0;
			}
		}
	}

	.tag{
		color: inherit;
		opacity: .3;
		transition: color .25s ease-out;
	}

	.button{
		@media @phone-only{display:none;}
	}

	aside.io{
		display: none;
		position: fixed;
		top: @AFFIX-HEIGHT;
		margin-top: -.5em;
		width: inherit;
		cursor: default;

		#input, #output{
			position: absolute;
			opacity: 0;
			transition:
				opacity .25s ease-out,
				left .25s ease-out,
				right .25s ease-out;
		}

		#input{
			color: @INPUT;
			left: -50%;
			margin-left: 8px;
		}

		#output{
			color: @OUTPUT;
			right: -50%;
			margin-right: 8px;
		}

		.autohide{
			display: inline-block;
			overflow: hidden;
			vertical-align: bottom;
			max-width: 0;
			transition: max-width .25s ease-out;
		}
	}

	&[data-color='input'] aside.io #input{
		opacity: 1;
		left: @AFFIX-HEIGHT;
	}
	&[data-color='output'] aside.io #output{
		opacity: 1;
		right: @AFFIX-HEIGHT;
	}
	// &:hover aside.io .autohide{max-width: 100%;}

}

//--------------------------------------------------------------------

main{
	position: relative;
	.container-fluid;
	z-index: 2;

	.articles-container{
		@media @tablet{padding-top: @AFFIX-HEIGHT;}

		article{
			.make-row;
			.clearfix;
			position: relative;
			&:not(:last-child){margin-bottom: 100px;}

			header{
				.make-md-column(6);
				@media @tablet{text-align: right;}
				@media @phone-only{margin-bottom: 2em;}

				h1{
					@media @tablet{margin-bottom: 20px;}
					margin-top: 0;
					font-size: 30px;
					font-weight: normal;
					text-transform: lowercase;
				}
				.meta{
					color: @GRAY;
					text-transform: lowercase;
					*{
						display: inline;
						@media @tablet{display: block;}
					}

					time{
						margin-bottom: .5em;
					}

					li a,
					.edit{display: inline;}

					.io{
						margin-bottom: 1em;
						display: inline-block;
						background-color: fade(@OUTPUT, 30%);
						outline: 2px solid fade(@OUTPUT, 30%);
					}

					.tags{
						list-style: none;
						padding: 0;

					}
					.edit{
						@media @phone-only{display: none;}
						font-size: 2em;
					}
				}
			}

			.content{
				.make-md-column(6);
				padding: 0 16px;
				.text >*:not(.embed-responsive):not(.FluidEmbed){
					max-width: 550px;
				}

				@media @tablet{padding-top: 53px;}

				blockquote{
					font-size: inherit;
					border: none;
					quotes: "«\00A0" "\00A0»";
					padding: 0px;

					& > *{
						display: inline;
						background-color: fade(@OUTPUT, 10%);
						&::before{
							color: @OUTPUT;
							font-weight: bold;
							content: open-quote;
							margin-left: -.65em;
						}
						&::after{
							color: @OUTPUT;
							font-weight: bold;
							content: close-quote;
							background-color: #FFF;
						}
					}
				}

				strong{
					background-color: fade(@OUTPUT, 30%);
					outline: 2px solid fade(@OUTPUT, 30%);
					font-weight: normal;
				}

				p,
				.embed-responsive{margin: 0 0 10px 0;}
				h1{
					color: @OUTPUT;
					font-size: 1.5em;
					margin-top: 0px;
					font-weight: normal;
				}
				.gallery{
					clear: both;
					width: 100%;
					img{
						width: 100%;
						height: auto;
					}
				}

				.FluidEmbed--16by9{
					position: relative;
					display: block;
					height: 0;
					padding: 0;
					overflow: hidden;
					padding-bottom: 56.25%;
					margin-bottom: 8px;
					iframe{
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						height: 100%;
						width: 100%;
						border: 0;
					}
				}
			}

			&[data-type="input"]{
				a{color: @INPUT;}
				a:hover{color: @BLACK;}
				header{
					.make-md-column-push(6);
					text-align: left;
					.io{
						background-color: fade(@INPUT, 30%);
						outline: 2px solid fade(@INPUT, 30%);
					}
				}
				.content{
					.make-md-column-pull(6);
					& .text > *{
						width: 100%;
						clear: both;
						&:not(.embed-responsive):not(.FluidEmbed){
							float: right;
						}
					}

					h1{color: @INPUT;}
					strong{
						background-color: fade(@INPUT,30%);
						outline-color: fade(@INPUT, 30%);
					}
					blockquote > *{
						&::before, &::after{color: @INPUT;}
						background-color: fade(@INPUT, 10%);
					}
				}
			}

			@media @tablet{
				&.affix-top{
					header{
						position: fixed;
						top: @AFFIX-HEIGHT;
						right: 50%;
					}
					.content{
						.make-md-column-offset(6);
					}
				}

				&.affix-bottom{
					header{
						position: absolute;
						bottom: 0px;
						right: 50%;
					}
					.content{
						.make-md-column-offset(6);
					}
				}
			}
		}
	}
}

//--------------------------------------------------------------------

footer.footer{
	position: relative;
	z-index: 1;

	.copyright{
		position: absolute;
		left: 50%;
		margin-left: 8px;
		margin-top: 20px;
		color: @GRAY;
	}

}